{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        // 把 React.createElement 方法转换成 TinyReact.createElement 方法
        "pragma": "TinyReact.createElement"
      }
    ]
  ]
}